---
// src/layouts/Layout.astro
import { A, P, Titleh3 } from "@/components/ui/composant";
import { Container } from "@/components/ui/container";
import Navigation from "../layouts/navigation.astro";
import "../styles/global.css";

const {
  title,
  description = "Guide complet pour Wakfu - Classes, Donjons, Quêtes et plus encore",
} = Astro.props;

const currentYear = new Date().getFullYear();

// Liens du pied de page
const footerLinks = [
  { text: "Accueil", href: "/" },
  { text: "Classes", href: "/classe" },
  { text: "Donjons", href: "/donjon" },
  { text: "Quêtes", href: "/quetes" },
];
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | NexusWakfu</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body
    class="text-white min-h-screen flex flex-col bg-gradient-to-b from-[#1e2225] to-[#2E1437] backdrop-blur-md"
  >
    <Navigation />

    <main class="flex flex-col w-full rounded-none border-none min-h-screen">
      <slot />
    </main>

    <footer>
      <Container
        className="flex flex-col items-center justify-center w-full  rounded-none p-6 mx-auto text-center"
      >
        <div>
          <Titleh3>NexusWakfu</Titleh3>
          <P className="mt-2 text-gray-300">
            {description}
          </P>
          <P className="mt-4 text-sm">
            © {currentYear} NexusWakfu. Tous droits réservés.
          </P>
        </div>

        <div>
          <Titleh3>Liens rapides</Titleh3>
          <nav class="mt-2 flex flex-wrap gap-4">
            {footerLinks.map((link) => <A href={link.href}>{link.text}</A>)}
          </nav>
        </div>
      </Container>
    </footer>
  </body>
</html>
